{% extends 'base.html' %}
{% block head%}
<link href="static/style.css" rel="stylesheet">
{% endblock %}

{% block body%} 
<div class="form_box1">
	<form method="POST" class="form_box" >
	{{ form.csrf_token }}
	{{ form.username.label (class="text")}} 
	{{ form.username (class="box")}} 
	{{ form.email.label (class="text")}} 
	{{ form.email (class="box")}} 
	{{ form.password1.label (class="text")}} 
	{{ form.password1 (class="box")}} 
	{{ form.password2.label(class="text")}} 
	{{ form.password2 (class="box")}} 
	{{ form.submit (class="text" ,id="submit") }}		
	</form>
</div>

{% endblock %}
