{% extends 'base.html' %}

{% block head %}
<title>TodoLIst</title>
<link rel='stylesheet' href='style.css'>
{% endblock %}



{% block body %}
<form action='/' method="POST">
    <div class='input_todolist'>
        <input type='text' name='todolist' >
        <input type='submit'>

    </div>
</form>
<table>
    <tr>
        <th>NO.</th>
        <th>Tasks</th>
    </tr>
 
        {% if tasks %}
            {% for msg in tasks %}
            <tr>

                <td>{{msg.content}}</td>
                <td><a href="/delete/{{msg.id}}">Delete</a></td>
                <td><a href="/update/{{msg.id}}">Update</a></td>
            </tr>
            {%endfor%}
        {% endif %}
 
   
    {% endblock %}
</table>
